<h1 class="text-center mb-3">{{title}}</h1>

<h4 class=".bg-secondary">Captain Logs</h4>
<ul class="list-group .bg-secondary">
  {{#each captainLogArray}}
  <li class="list-group-item text-primary border border-primary sticky-top"><center><p>{{captainName}} <p></center></li>
  <li class="list-group-item text-primary border border-secondary .bg-secondary">captainName: {{captainName}}</li>
  <li class="list-group-item text-primary border border-dark">Title: {{title}}</li>
  <li class="list-group-item text-primary border border-dark">Post: {{post}}</li>
  <hr/>

  {{/each}}
</ul>

<a href="/captainLogArray/" class="btn btn-light mt-4">Visit captain Log API</a>